/* .btn-container button {
  color: white;
  border: none;
  padding: 15px 18px;
  margin: 5px;
  border-radius: 45%;
}
.btn-container {
  border: 1px solid black;
  height: 60px;
}
.btn-y {
  background-color: rgb(170, 170, 34);
}
.btn-w {
  background-color: rgb(212, 204, 204);
  color: black;
}
.btn-b {
  background-color: yellow;
}
.btn-b {
  background-color: black;
}
.btn-v {
  background-color: violet;
}
.btn-p {
  background-color: pink;
}
.btn-g {
  background-color: gray;
}
.btn-blue {
  background-color: blue;
}
.btn-r {
  background-color: red;
} */
